<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INonPCIService" maxReceivedMessageSize="1000000">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.ezidebit.com.au/v3-5/nonpci" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INonPCIService" contract="Ezidebit35nonpci.INonPCIService"
                name="BasicHttpBinding_INonPCIService" />
        </client>
    </system.serviceModel>
</configuration>